.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 .card{
    
    background-color: white;
    padding: 20px;
    width: 460px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}
.card-body{
    padding: 20px;
    text-align: center;
}
.card-body > * {
     margin-bottom: 20px; /* Add space between child elements  */
  }
.card-body h1 {  
    text-align: center;
    color: #0b0f12;
}
p{
    color: #0b0f12;
    font-size: 16px;
    margin-bottom: 20px;
}
label {
    font-size: 18px;
    color: #0b0f12;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.message {
    color: green;
}