@media (max-width: 500px) {
    .login-form {
        width: 100%;
    }
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   
}

header {
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 100%;
    width: 100%;
    position: relative;
    color: rgb(34, 96, 195);
}
.login-container{
    width: max-content;
}

header .login-container {
    margin: 20px 20px 20px 20px;
    padding-top: 50px;
    padding-bottom: 5px;
}
.caption-text{
    font-size: 50px;
    font-weight: bold;
    color: #0d0d0d;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: var(--font-primary);
}
.caption-text p{
    font-size: medium;
    color: #0d0d0d;
   
}

.login-body {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    flex-wrap: wrap;
}

.login-section {
    justify-content: center;
    padding-left: 20px;
    /* padding-right: 10px; Adjust padding as needed */
    flex: 1;
    justify-content: left;
    padding-right: 24px;
    padding-top: 50px;
}

.logo-img {
    max-width: 550px;
    max-height: 505px;
    margin: 1px;
    padding: 0;
}

.login-logo {
    width: 50%;
    height: 20%;
}

.login-logo h2 {
    color: black;
    margin: 0;
}

/* .text-right {
    flex: 1;
    float: right;
} */

div {
    display: block;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: -10px;
    margin-left: 20px;
    letter-spacing: 0.2px;
}

.img {
    height: 200;
    width: 250;
    padding-bottom: 20px;
}

.login-form {
    margin: 15px;
    padding-top: 20px;
    width:80%;
    background-color: #c2c2f1;
    border-radius: 8px;
    margin-top: -50px;
    box-shadow: 0 2px 4px rgba(194, 133, 133, 0.1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 20px 0 28px;
}

.form-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 12px;
    gap: 5px;
}

h2 {
    color: #000610;
}

.quote {
    font-style: italic;
    color: #090808;
    margin: 20px 0;
    font-size: x-large;
    font-family: var(--font-primary);
}

.form-label {
    
    align-self: flex-start;
    display: block;
    margin: 0 0 0 30px;
    color: rgb(28, 38, 177);
    font-weight: bold;
    font-size: large;
    font-family: var(--font-secondary);
}

form .login-input {
    flex: 1;
    border: 2px solid #5686ce;
    font-size: 17px;
    border-radius: 5px;
    color: #1d2129;
    outline-color: #8AB7EF;
    padding: 10px 10px;
    margin: 3px 0 10px 30px; /* Adjust margin to minimize gap */
    justify-content: center;
    width: 85%;
}



.login-btn{
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold; 
    letter-spacing: 0.25;
    width: 25%;
    background-color: #af0b99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
    font-family: var(--font-secondary);
}

.signup-link{
    text-decoration:none;
    color: blue;
    font-weight: bold;
    margin-left: 5px;
}
.signup-link:hover{
    color: darkblue;
    text-decoration: underline;
}

.forget-password{
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 8px;
    font-size: large;
    font-family: var(--font-secondary);
}
.forget-password:hover{
    color: darkblue;
    text-decoration: underline;
}

.form-body p{
    margin: 10px;
    font-size: large;
    font-family: var(--font-secondary);
}

/* 
width(input) milaunu parne
button ra forget pass lai left allign
 */